body {
  background-color: rgb(20, 18, 18);
  margin: 0cm;
}

header {
  background-color: black;
  margin: 0px;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 3;
}

main {
  color: blanchedalmond;
  margin-top: 0px;
}


h1 {
  color: blanchedalmond;
  font-family: "Brush Script MT";
  font-size: 120px;
  text-align: center;
  height: 120px;
  margin-top: 0px;
  margin-bottom: 50px;
}

h2 {
  color: blanchedalmond;
  text-align: center;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  padding-bottom: 15px;
  margin-bottom: 10px;
  font-size: 30px;
}

.ul1 {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;

}


li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 16px 24px;
  text-decoration: none;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 20px;
}

li a:hover {
  background-color: #111;
  transform: scale(1.1);
  transition: 0.5s ease;
}

h3 {
  color: blanchedalmond;
  font-family: "Brush Script MT";
  font-size: 100px;
  margin-top: 10px;
  margin-bottom: 0px;
  margin-left: 30px;
  height: 115px;
  border-bottom: blanchedalmond dashed 2px;
  padding-top: 34px;
}

p { 
  margin-top: 5px;
  margin-left: 30px;
  margin-right: 30px;
  margin-bottom: 50px;
  font-size: 20px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


img {
  vertical-align: middle;
}

.container {
  position: relative;
  width: 400px;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  margin-bottom: 30px;
}



/* Wskaźnik */
.kursor {
  cursor: pointer;
}

/* Przyciski Poprzedni/Następny */
.poprzedni,
.nastepny {
  cursor: pointer;
  position: absolute;
  top: 40%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/*  Przycisk "Następny" pozycjonowany z pracwej*/
.nastepny {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* Przeźroczyste tło po najechaniu na miniaturkę */
.poprzedni:hover,
.nastepny:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Numeracja zdjęć */
.numer {
  color: #f2f2f2;
  font-size: 18px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

.rzad:after {
  content: "";
  display: table;
  clear: both;
}

/* Sześć kolumn */
.kolumna {
  float: left;
  width: 16.66%;
}

/* Efekt przeźroczystości po najechaniu na miniaturkę */
.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}

.formularz {
  text-align: center;
  margin-top: 10px;
}

h4 {
  margin-block-start: 20px;
  margin-bottom: 10px;
  font-size: 20px;
  
}

h5 {
  color: blanchedalmond;
  font-family: "Brush Script MT";
  font-size: 60px;
  margin-top: 0px;
  margin-bottom: 50px;
  border: 4px dotted red;

}

h6 {
  color: blanchedalmond;
  font-family: "Brush Script MT";
  font-size: 60px;
  margin-top: 0px;
  margin-bottom: 50px;
  border: 4px dotted red;

}

.dół {
  color: blanchedalmond;
  font-family: "Brush Script MT";
  font-size: 40px;
  text-align: center;
  height: 70px;
  margin-top: -20px;
  margin-bottom: 30px;
}

h5:hover{
  border: 4px solid red;
}

h6:hover{
  border: 4px solid red;
}

input {
  font-size: 18px;
}

.tytul {
  display: flex;
  flex-direction: row;
  margin-bottom: 0px;
}
  
div.column {
  float: left;
  width: 47%;
  padding: 5px;
  margin-left: auto;
  margin-right: auto;

}

table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  border: 1px solid #ddd;
}

th, td {
  text-align: left;
  padding: 16px;
  color: blanchedalmond;
  }

tr:nth-child(even) {
  background-color: #333;
}

.go_top{
  position: fixed;
  right: 0;
  top: 80%;
  width: 8em;
  margin-top: -2.5em;
  background:rgb(112, 94, 87);
}

.go_top:hover{
  position: fixed;
  right: 0;
  top: 80%;
  width: 8em;
  margin-top: -2.5em;
  background:blanchedalmond;
}

